<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.BoardMapper">
  <select id="create">
    insert into tbl_board (bno, title, content, writer)
    values (seq_board.nextval, #{title},#{content},#{writer})
  </select>
  
  <select id="read" resultType="BoardDto">
  	select 
  		bno, title, content, writer, regdate, viewcnt
	from
		tbl_board
	where bno = #{bno} 
  </select>
  
  <update id="update">
  	update tbl_board set title = #{title}, content = #{content}
  	where bno = #{bno} 
  </update>
  
  <delete id="delete">
  	delete from tbl_board where bno = #{bno}
  </delete>
  
  <select id="listAll" resultType="BoardDto">
  	select 
  		bno, writer, title, content, regdate, viewcnt 
  	from 
  		tbl_board
	where
		bno > 0
	order by bno desc, regdate desc
  </select>
  
  <select id="listPage" resultType="BoardDto">
	  <![CDATA[
	  	SELECT 
			bno, writer, title, content, regdate, viewcnt 
	  	FROM(
			  SELECT 
	        		ROWNUM AS RNUM, A.*
	          FROM ( 
	          		 SELECT 
						bno, writer, title, content, regdate, viewcnt 
					 FROM 
						TBL_BOARD 
					 WHERE 
						bno > 0 
					 ORDER BY  bno DESC, regdate DESC 
					) A
			  WHERE 
				ROWNUM <= (#{page}+10)
	      	)
	 	WHERE 
	 		RNUM > #{page}
	   	]]>
  </select>
  
  <select id="listCriteria" resultType="BoardDto">
  	<![CDATA[
	  	SELECT 
			bno, writer, title, content, regdate, viewcnt 
	  	FROM(
			  SELECT 
	        		ROWNUM AS RNUM, A.*
	          FROM ( 
	          		 SELECT 
						bno, writer, title, content, regdate, viewcnt 
					 FROM 
						TBL_BOARD 
					 WHERE 
						bno > 0 
					 ORDER BY  bno DESC, regdate DESC 
					) A
			  WHERE 
				ROWNUM <= ( #{pageStart} + #{perPageNum} )
	      	)
	 	WHERE 
	 		RNUM > #{pageStart}
	   	]]>
  </select>
  
  <select id="countPaging" resultType="int">
	  <![CDATA[
	  	SELECT 
	  		COUNT(bno) 
		FROM 
			tbl_board 
		WHERE 
			bno > 0
	  ]]>
  </select>
  
</mapper>
  
